config tisbl 'tisbl'
    option firmware '/etc/tifirmware/ble5_host_test_bd9.bin'
    option tty '/dev/ttyMSM1'	# for EAP101 board
#    option tty '/dev/ttyACM0'	# for virtualbox openwrt 19.07 with TI CC26X2R launchpad
    option tichip '2652'
    option baudrate '115200'
    option resetpin '79'
    option backdoorpin '34' 	#EAP101-R1
#    option backdoorpin '67'	#EAP101-R0A-HW-modification
