// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

/dts-v1/;
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

#include "mt7981.dtsi"

/ {
	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0 0x40000000 0 0x10000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};

		mesh {
			label = "mesh";
			gpios = <&pio 0 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_9>;
			linux,input-type = <EV_SW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_blue {
			label = "sys:blue";
			gpios = <&pio 23 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
			active-delay = <500>;
			inactive-delay = <500>;
			default-state="on";
		};

		led_green {
			label = "sys:green";
			gpios = <&pio 24 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
			active-delay = <500>;
			inactive-delay = <500>;
			default-state="on";
		};

		led_red {
			label = "sys:red";
			gpios = <&pio 25 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
			active-delay = <500>;
			inactive-delay = <500>;
			default-state="on";
		};
	};
};

&eth {
        status = "okay";

        gmac0: mac@0 {
                compatible = "mediatek,eth-mac";
                reg = <0>;
                phy-mode = "2500base-x";

                fixed-link {
                        speed = <2500>;
                        full-duplex;
                        pause;
                };
        };

		gmac1: mac@1 {
			compatible = "mediatek,eth-mac";
			reg = <1>;
			phy-mode = "gmii";
			phy-handle = <&phy0>;
		};

        mdio: mdio-bus {
                #address-cells = <1>;
                #size-cells = <0>;

		phy0: ethernet-phy@0 {
			compatible = "ethernet-phy-id03a2.9461";
			reg = <0>;
			phy-mode = "gmii";
			nvmem-cells = <&phy_calibration>;
			nvmem-cell-names = "phy-cal-data";
		};

		switch@0 {
					compatible = "mediatek,mt7531";
					reg = <31>;
					reset-gpios = <&pio 39 0>;

					ports {
							#address-cells = <1>;
							#size-cells = <0>;

							port@0 {
									reg = <0>;
									label = "lan1";
							};

							port@1 {
									reg = <1>;
									label = "lan2";
							};

							port@2 {
									reg = <2>;
									label = "lan3";
							};

							port@6 {
									reg = <6>;
									label = "cpu";
									ethernet = <&gmac0>;
									phy-mode = "2500base-x";

									fixed-link {
											speed = <2500>;
											full-duplex;
											pause;
									};
							};
					};
                };
        };
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_flash_pins>;
	status = "okay";

	spi_nand: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0>;

		spi-max-frequency = <52000000>;
		spi-tx-buswidth = <4>;
		spi-rx-buswidth = <4>;

		partitions: partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "BL2";
				reg = <0x00 0x100000>;
				read-only;
			};

			partition@100000 {
				label = "u-boot-env";
				reg = <0x0100000 0x0080000>;
			};

			factory: partition@180000 {
				label = "Factory";
				reg = <0x180000 0x200000>;
				read-only;

				compatible = "nvmem-cells";
				#address-cells = <1>;
				#size-cells = <1>;

				macaddr_factory_4: macaddr@4 {
					reg = <0x4 0x6>;
				};
			};

			partition@380000 {
				label = "FIP";
				reg = <0x380000 0x200000>;
				read-only;
			};

			partition@580000 {
				label = "ubi";
				reg = <0x580000 0x6000000>;
			};

			partition@7580000 {
				label = "devinfo";
				reg = <0x6580000 0x00080000>;
			};

			partition@7600000 {
				label ="certificates";
				reg = <0x6600000 0x00080000>;
			};
		};
	};
};

&pio {
	i2c_pins: i2c-pins-g0 {
		mux {
			function = "i2c";
			groups = "i2c0_1";
		};
	};
	spi0_flash_pins: spi0-pins {
		mux {
			function = "spi";
			groups = "spi0", "spi0_wp_hold";
		};

		conf-pu {
			pins = "SPI0_CS", "SPI0_HOLD", "SPI0_WP";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_11>;
		};

		conf-pd {
			pins = "SPI0_CLK", "SPI0_MOSI", "SPI0_MISO";
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_11>;
		};
	};
	pse_out_en {
			gpios = <&pio 27 GPIO_ACTIVE_HIGH>;
			output-high;
	};
	pse_int_n {
			gpios = <&pio 29 GPIO_ACTIVE_LOW>;
			input;
	};	
};

&hnat {
        mtketh-wan = "eth1";
        mtketh-lan = "lan";
        mtketh-max-gmac = <2>;
        status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_pins>;
	status = "okay";

};

&pio {
	wf_dbdc_pins: wf_dbdc-pins {
		mux {
			function = "eth";
			groups = "wf0_mode1";
		};
		conf {
			pins = "WF_HB1", "WF_HB2", "WF_HB3", "WF_HB4",
			       "WF_HB0", "WF_HB0_B", "WF_HB5", "WF_HB6",
			       "WF_HB7", "WF_HB8", "WF_HB9", "WF_HB10",
			       "WF_TOP_CLK", "WF_TOP_DATA", "WF_XO_REQ",
			       "WF_CBA_RESETB", "WF_DIG_RESETB";
			drive-strength = <MTK_DRIVE_4mA>;
		};
	};
};

&wbsys {
	status = "okay";

	mediatek,mtd-eeprom = <&factory 0x0>;
	pinctrl-names = "dbdc";
	pinctrl-0 = <&wf_dbdc_pins>;
	power-limits {
		r0 {
			regdomain = "fcc";
			txpower-2g {
				r0 {
					channels = <1 1>;
					txs-delta = <0 0 0>;
					rates-cck = <38 38 38 38>;
					rates-ofdm = <37 37 37 37 37 37 37 37>;
					rates-mcs =
					<1 36 36 36 36 36 36 36 36 34 33>,
					<3 34 34 34 34 34 34 34 34 34 33>;
					rates-ru =
					<4 36 36 36 36 36 36 36 36 34 33 32 32>,
					<3 34 34 34 34 34 34 34 34 34 33 32 32>;
				};
				r1 {
					channels = <2 3>;
					txs-delta = <0 0 0>;
					rates-cck = <38 38 38 38>;
					rates-ofdm = <38 38 38 38 38 38 38 37>;
					rates-mcs =
					<1 38 38 38 38 38 38 37 36 34 33>,
					<3 34 34 34 34 34 34 34 34 34 33>;
					rates-ru =
					<4 38 38 38 38 38 38 37 36 34 33 32 32>,
					<3 34 34 34 34 34 34 34 34 34 33 32 32>;
				};
				r2 {
					channels = <4 8>;
					txs-delta = <0 0 0>;
					rates-cck = <38 38 38 38>;
					rates-ofdm = <38 38 38 38 38 38 38 37>;
					rates-mcs =
					<1 38 38 38 38 38 38 37 36 34 33>,
					<3 36 36 36 36 36 36 36 36 34 33>;
					rates-ru =
					<4 38 38 38 38 38 38 37 36 34 33 32 32>,
					<3 36 36 36 36 36 36 36 36 34 33 32 32>;
				};
				r3 {
					channels = <9 14>;
					txs-delta = <0 0 0>;
					rates-cck = <38 38 38 38>;
					rates-ofdm = <38 38 38 38 38 38 38 37>;
					rates-mcs =
					<1 38 38 38 38 38 38 37 36 34 33>,
					<3 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<4 38 38 38 38 38 38 37 36 34 33 32 32>,
					<3 32 32 32 32 32 32 32 32 32 32 32 32>;
				};
			};
			txpower-5g {
				r0 {
					channels = <184 196>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs =
					<2 40 40 40 40 40 39 38 36 35 34>,
					<2 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<5 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r1 {
					channels = <8 16>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs =
					<2 40 40 40 40 40 39 38 36 35 34>,
					<2 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<5 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r2 {
					channels = <36 40>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs =
					<1 40 40 40 40 40 39 38 36 35 34>,
					<1 38 38 38 38 38 38 38 36 35 34>,
					<2 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<4 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 38 38 38 38 38 38 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r3 {
					channels = <44 44>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs =
					<2 40 40 40 40 40 39 38 36 35 34>,
					<2 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<5 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r4 {
					channels = <48 48>;
					txs-delta = <0 0 0>;
					rates-ofdm = <39 39 39 39 39 39 39 38>;
					rates-mcs =
					<2 40 40 40 40 40 39 38 36 35 34>,
					<2 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<5 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r5 {
					channels = <52 96>;
					txs-delta = <0 0 0>;
					rates-ofdm = <36 36 36 36 36 36 36 36>;
					rates-mcs =
					<3 36 36 36 36 36 36 36 36 35 34>,
					<1 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<6 36 36 36 36 36 36 36 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r6 {
					channels = <100 112>;
					txs-delta = <0 0 0>;
					rates-ofdm = <36 36 36 36 36 36 36 36>;
					rates-mcs =
					<2 36 36 36 36 36 36 36 36 35 34>,
					<1 35 35 35 35 35 35 35 35 35 34>,
					<1 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<5 36 36 36 36 36 36 36 36 35 34 32 32>,
					<1 35 35 35 35 35 35 35 35 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r7 {
					channels = <116 144>;
					txs-delta = <0 0 0>;
					rates-ofdm = <36 36 36 36 36 36 36 36>;
					rates-mcs =
					<3 36 36 36 36 36 36 36 36 35 34>,
					<1 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<6 36 36 36 36 36 36 36 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r8 {
					channels = <149 181>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs =
					<3 40 40 40 40 40 39 38 36 35 34>,
					<1 32 32 32 32 32 32 32 32 32 32>;
					rates-ru =
					<6 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
			};
		};
		r1 {
			regdomain = "etsi";
			txpower-2g {
				r0 {
					channels = <1 14>;
					txs-delta = <0 0 0>;
					rates-cck = <29 29 29 29>;
					rates-ofdm = <30 30 30 30 30 30 30 30>;
					rates-mcs = 
					<4 28 28 28 28 28 28 28 28 28 28>;
					rates-ru = 
					<7 28 28 28 28 28 28 28 28 28 28 28 28>;
				};
			};
			txpower-5g {
				r0 {
					channels = <184 196>;
					txs-delta = <0 0 0>;
					rates-ofdm = <33 33 33 33 33 33 33 33>;
					rates-mcs = 
					<4 33 33 33 33 33 33 33 33 33 33>;
					rates-ru = 
					<6 33 33 33 33 33 33 33 33 33 33 32 32>,
					<1 33 33 33 33 33 33 33 33 33 33 30 30>;
				};
				r1 {
					channels = <8 16>;
					txs-delta = <0 0 0>;
					rates-ofdm = <33 33 33 33 33 33 33 33>;
					rates-mcs = 
					<4 33 33 33 33 33 33 33 33 33 33>;
					rates-ru = 
					<6 33 33 33 33 33 33 33 33 33 33 32 32>,
					<1 33 33 33 33 33 33 33 33 33 33 30 30>;
				};
				r2 {
					channels = <36 48>;
					txs-delta = <0 0 0>;
					rates-ofdm = <33 33 33 33 33 33 33 33>;
					rates-mcs = 
					<4 33 33 33 33 33 33 33 33 33 33>;
					rates-ru = 
					<6 33 33 33 33 33 33 33 33 33 33 32 32>,
					<1 33 33 33 33 33 33 33 33 33 33 30 30>;
				};
				r3 {
					channels = <52 96>;
					txs-delta = <0 0 0>;
					rates-ofdm = <33 33 33 33 33 33 33 33>;
					rates-mcs = 
					<1 32 32 32 32 32 32 32 32 32 32>,
					<3 33 33 33 33 33 33 33 33 33 33>;
					rates-ru = 
					<4 32 32 32 32 32 32 32 32 32 32 32 32>,
					<2 33 33 33 33 33 33 33 33 33 33 32 32>,
					<1 33 33 33 33 33 33 33 33 33 33 30 30>;
				};
				r4 {
					channels = <100 128>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs = 
					<3 40 40 40 40 40 39 38 36 35 34>,
					<1 40 40 40 39 39 38 36 35 34 33>;
					rates-ru = 
					<6 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 40 40 40 39 39 38 36 35 34 33 30 30>;
				};
				r5 {
					channels = <132 144>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs = 
					<3 40 40 40 40 40 39 38 36 35 34>,
					<1 32 32 32 32 32 32 32 32 32 32>;
					rates-ru = 
					<6 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
				r6 {
					channels = <149 181>;
					txs-delta = <0 0 0>;
					rates-ofdm = <40 40 40 40 40 40 39 38>;
					rates-mcs = 
					<3 40 40 40 40 40 39 38 36 35 34>,
					<1 32 32 32 32 32 32 32 32 32 32>;
					rates-ru = 
					<6 40 40 40 40 40 39 38 36 35 34 32 32>,
					<1 32 32 32 32 32 32 32 32 32 32 30 30>;
				};
			};
		};
	};
};

&uart0 {
	status = "okay";
};

&watchdog {
	status = "okay";
};


/ {
	model = "SONICFI RAP630W-211G";
	compatible = "sonicfi,rap630w-211g", "mediatek,mt7981";
};


