[submodule "opensync/core"]
	path = opensync/core
	url = git@github.com:plume-design/opensync.git
[submodule "opensync/platform/openwrt"]
	path = opensync/platform/openwrt
	url = git@github.com:plume-design/opensync-platform-openwrt.git
[submodule "opensync/vendor/armvirt"]
	path = opensync/vendor/armvirt
	url = git@github.com:plume-design/opensync-vendor-armvirt.git
