
config default 'default'
	option limit_enable '1'
	option limit_type 'ssidrate'
	option ssid_ratelimit_unit_dl 'kbytes'
	option ssid_ratelimit_unit_ul 'kbytes'
	option ssid_ratelimit_rate_dl '1000'
	option ssid_ratelimit_rate_ul '1000'
	option priority_enable '0'

config download
	option hostname 'undefined'
	option rate '200'
	option crate '250'
	option unit 'kbytes'
	option iface 'home_ap_l50'

config upload
	option hostname 'undefined'
	option rate '200'
	option crate '251'
	option unit 'kbytes'
	option iface 'home_ap_l50'

config download
        option hostname 'undefined'
        option rate '400'
	option crate '450'
        option unit 'kbytes'
        option iface 'home_ap_u50'

config upload
        option hostname 'undefined'
        option rate '400'
	option crate '451'
        option unit 'kbytes'
        option iface 'home_ap_u50'

config download
        option hostname 'undefined'
        option rate '800'
	option crate '850'
        option unit 'kbytes'
        option iface 'home_ap_24'

config upload
        option hostname 'undefined'
        option rate '900'
	option crate '950'
        option unit 'kbytes'
        option iface 'home_ap_24'

