menuconfig MANAGER_NM
    bool "Network Manager (NM)"
    default y
    help
        Enable Network Manager (NM)

    config MANAGER_NM_CFG
        depends on MANAGER_NM
        string "NM Startup configuration"
        default "nm;true;needs_plan_b=true"
        help
            Network Manager startup configuration
