config PLUME_CM2_DISABLE_DRYRUN_ON_GRE
    bool "Disable udhcpc dryrun on gre interfaces"
    default n
    help
        Skip running dryrun on gre interfaces.

config PLUME_CM2_USE_NOT_CUSTOM_UDHCPC
    bool "Use orginal udhcpc not custom by Plume"
    default n
    help
        Option when platforms can not modify udhcpc

config OPENSYNC_CM2_MTU_ON_GRE
    int "MTU on GRE interface"
    default 1500
    help
        Define mtu on gre interface for WiFi sta interfaces
