menuconfig MANAGER_RRM
    bool "RRM"
    default y 
    help
        Enable Radio Resource Manager

        ovsh u Node_Services --where service==rrm enable:=true

    config MANAGER_RRM_CFG
        string "Radio Resource Manager configuration"
        depends on MANAGER_RRM
        default "rrm;true"
        help
            RRM startup configuration
