
menuconfig OSN_DHCPS_DNSMASQ
    bool "DHCP Server: Dnsmasq"
    default y
    help
        OpenSync DHCPv4 server implementation using dnsmasq.

        This option implements the osn_dhcp_server_t API using dnsmasq.

    if OSN_DHCPS_DNSMASQ
        comment "Dnsmasq configuration"

        config OSN_DNSMASQ_PATH
            string "Path to the dnsmasq binary"
            default "/usr/sbin/dnsmasq"
            help
                Full path to the dnsmasq binary

        config OSN_DNSMASQ_ETC_PATH
            string "dnsmasq configuration file path"
            default "/var/etc/dnsmasq.conf"
            help
                This is the path where the dnsmasq configuration file
                will be generated.

        config OSN_DNSMASQ_LEASE_PATH
            string "Location of the DHCP lease file"
            default "/tmp/dhcp.leases"
            help
                Location of the "leases" file. This is the dnsmasq
                DHCP lease database.

        config OSN_DNSMASQ_PID_PATH
            string "Location of the dnsmasq PID file"
            default "/var/run/dnsmasq/dnsmasq.pid"
            help
                Location of the dnsmasq PID file.

        config OSN_DNSMASQ_KEEP_RUNNING
            bool 'Daemon should be always running'
            help
                The default behavior is to kill dnsmasq as soon as there are
                0 DHCP server configurations active. This option forces dnsmasq
                to be active regardless of the DHCP server configuration.

                This is useful on systems where dnsmasq is used as a DNS cache.
    endif


menuconfig OSN_DHCPC_UDHCPC
    bool "DHCP client: udhcpc"
    default y
    help
        OpenSync DHCPv4 client implementation using busybox's udhcpc as backend.

        This option implements the osn_dhcp_client_t class.

    if OSN_DHCPC_UDHCPC
        comment "udhcpc configuration"
        config OSN_UDHCPC_PATH
            string "Path to the udhcpc binary"
            default "/sbin/udhcpc"
            help
                Full path to the udhcpc binary.
    endif

menuconfig OSN_UPNP_MINIUPNPD
    bool "UPnP server: miniupnpd"
    default y
    help
        Use UPnP server implementation provided by INET.

    if OSN_UPNP_MINIUPNPD
        comment "miniupnpd configuration"

        config OSN_MINIUPNPD_PATH
            string "Path to the miniupnpd binary"
            default "/usr/sbin/miniupnpd"
            help
                Full path to the miniupnpd binary

        config OSN_MINIUPNPD_ETC
            string "miniupnpd configuration folder"
            default "/tmp/miniupnpd"
            help
                This is the location where the miniupnpd.conf and upnpd.lease
                files will be created.
    endif

menuconfig OSN_ROUTE_LINUX
    bool "Routing table"
    default y
    help
        Route notification using Linux interfaces:
            - /proc/net/route
            - NETLINK socketrs

        This option implements the osn_route_t class.

config OSN_NETLINK_DEBOUNCE_MS
    int "Netlink event debouncing interval"
    default 300
    help
        Delay processing of netlink events for this amount in milliseconds.

        Netlink events may come in bursts. Delaying and aggregating them may
        yield some performance boost.
