// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/dts-v1/;

#include "ipq6018.dtsi"
#include "ipq6018-cpr-regulator.dtsi"
#include <dt-bindings/input/input.h>

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Netgear WAX610";
	compatible = "netgear,wax610", "qcom,ipq6018-cp03", "qcom,ipq6018";
	interrupt-parent = <&intc>;
	qcom,msm-id = <0x1A5 0x0>;

	aliases {
		/*
		 * Aliases as required by u-boot
		 * to patch MAC addresses
		 */
		ethernet0 = "/soc/dp1";

		led-boot = &led_power_blue;
		led-failsafe = &led_power_orange;
		led-running = &led_power_green;
		led-upgrade = &led_power_blue;
	};

	chosen {
		bootargs = "console=ttyMSM0,115200,n8 rw init=/init";
#ifdef __IPQ_MEM_PROFILE_256_MB__
		bootargs-append = " swiotlb=1";
#else
		bootargs-append = " swiotlb=1 coherent_pool=2M";
#endif
	};

/* TZAPP is enabled only in default memory profile */
#if !defined(__IPQ_MEM_PROFILE_256_MB__) && !defined(__IPQ_MEM_PROFILE_512_MB__)
	reserved-memory {
		tzapp:tzapp@49B00000 {	/* TZAPPS */
			no-map;
			reg = <0x0 0x49B00000 0x0 0x00600000>;
		};
	};
#endif
};

&tlmm {
	uart_pins: uart_pins {
		mux {
			pins = "gpio44", "gpio45";
			function = "blsp2_uart";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	button_pins: button_pins {
		reset_button {
			pins = "gpio9";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	mdio_pins: mdio_pinmux {
		mux_0 {
			pins = "gpio64";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_1 {
			pins = "gpio65";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_2 {
			pins = "gpio77";
			function = "gpio";
			bias-pull-up;
		};
	};

	leds_pins: leds_pins {
		led_power_green {
			pins = "gpio24";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_power_orange {
			pins = "gpio25";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_power_blue {
			pins = "gpio29";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_lan_green {
			pins = "gpio30";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_lan_orange {
			pins = "gpio31";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_wifi2_blue {
			pins = "gpio32";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_wifi2_green {
			pins = "gpio33";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_wifi5_blue {
			pins = "gpio36";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
		led_wifi5_green {
			pins = "gpio37";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
		};
	};
};

&soc {
	mdio@90000 {
		pinctrl-0 = <&mdio_pins>;
		pinctrl-names = "default";
		phy-reset-gpio = <&tlmm 77 1>;
		status = "ok";
		phy0: ethernet-phy@0 {
			reg = <0x18>;
		};
	};

	ess-switch@3a000000 {
		switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
		switch_lan_bmp = <0x1e>; /* lan port bitmap */
		switch_wan_bmp = <0x20>; /* wan port bitmap */
		switch_inner_bmp = <0xc0>; /*inner port bitmap*/
		switch_mac_mode = <0x0>; /* mac mode for uniphy instance0*/
		switch_mac_mode1 = <0xf>; /* mac mode for uniphy instance1*/
		switch_mac_mode2 = <0xff>; /* mac mode for uniphy instance2*/
		qcom,port_phyinfo {
			port@0 {
				port_id = <5>;
				phy_address = <0x18>;
				port_mac_sel = "QGMAC_PORT";
			};
		};
	};

	dp1 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <5>;
		reg = <0x3a001800 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
		qcom,link-poll = <1>;
		qcom,phy-mdio-addr = <0x18>;
		phy-mode = "sgmii";
	};

	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&tlmm 9 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&leds_pins>;
		pinctrl-names = "default";

		led_power_green: led@24 {
			label = "green:power";
			gpios = <&tlmm 24 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led_power_orange: led@25 {
			label = "orange:power";
			gpios = <&tlmm 25 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led_power_blue: led@29 {
			label = "blue:power";
			gpios = <&tlmm 29 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led@30 {
			label = "green:lan";
			gpios = <&tlmm 30 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led@31 {
			label = "orange:lan";
			gpios = <&tlmm 31 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led@32 {
			label = "blue:wifi2";
			gpios = <&tlmm 32 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led@33 {
			label = "green:wifi2";
			gpios = <&tlmm 33 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led@36 {
			label = "blue:wifi5";
			gpios = <&tlmm 36 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led@37 {
			label = "green:wifi5";
			gpios = <&tlmm 37 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&blsp1_uart3 {
	pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&qpic_bam {
	status = "ok";
};

&qpic_nand {
	status = "ok";

	nand@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
	};
};

&nss_crypto {
	status = "ok";
};
