// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5424 RDP board common device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022-2025 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "ipq5424.dtsi"

/ {
	aliases {
		serial0 = &uart1;
		serial1 = &uart0;
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
		ethernet2 = "/soc/dp3";
	};

	chosen {
		stdout-path = "serial0";
	};

	soc@0 {
		qupv3: geniqup@1ac0000 {
			status = "okay";

			uart0: serial@1a80000 {
				pinctrl-0 = <&qup_uart0_default>;
				pinctrl-names = "default";
			};

			uart1: serial@1a84000 {
				pinctrl-0 = <&qup_uart1_default>;
				pinctrl-names = "default";
				status = "okay";
			};
		};

		gpio-keys {
			compatible = "gpio-keys";
			pinctrl-0 = <&gpio_keys_default>;
			pinctrl-names = "default";
			status = "okay";

			button-wps {
				label = "wps";
				linux,code = <KEY_WPS_BUTTON>;
				gpios = <&tlmm 19 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
				debounce-interval = <60>;
			};
		};

		system-cache-controller@800000 {
			status = "okay";
		};

		mdio: mdio@90000 {
			pinctrl-0 = <&mdio_mst_pins &mdio_slv_pins>;
			pinctrl-names = "default";
			/*gpio18 for manhattan reset*/
			phy-reset-gpio = <&tlmm 18 GPIO_ACTIVE_LOW>;
			phyaddr_fixup = <0xC90F018>;
			uniphyaddr_fixup = <0xC90F014>;
			mdio_clk_fixup; /* MDIO clock sequence fix up flag */
			status = "okay";

			phy0:ethernet-phy@0 {
				reg = <1>;
				fixup;
			};
			phy1:ethernet-phy@1 {
				reg = <2>;
				fixup;
			};
			phy2:ethernet-phy@2 {
				reg = <3>;
				fixup;
			};
			phy3:ethernet-phy@3 {
				reg = <4>;
				fixup;
			};

			switch0@10 {
				compatible = "qca,qca8386";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x10>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@1 {
						reg = <1>;
						label = "lan1";
						phy-handle = <&phy0>;
						phy-mode = "internal";
					};

					port@2 {
						reg = <2>;
						label = "lan2";
						phy-handle = <&phy1>;
						phy-mode = "internal";
					};

					port@3 {
						reg = <3>;
						label = "lan3";
						phy-handle = <&phy2>;
						phy-mode = "internal";
					};

					port@4 {
						reg = <4>;
						label = "lan4";
						phy-handle = <&phy3>;
						phy-mode = "internal";
					};
				};
			};
		};

		ess-instance {
			num_devices = <0x2>;
#ifdef __CONFIG_IO_COHERENCY__
			dma-coherent;
#endif
			ess-switch@3a000000 {
#ifdef __CONFIG_IO_COHERENCY__
				dma-coherent;
#endif
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x8>; /* lan port bitmap */
				switch_mac_mode = <0xff>; /* mac mode for uniphy instance0*/
				switch_mac_mode1 = <0xff>; /* mac mode for uniphy instance1*/
				switch_mac_mode2 = <0xc>; /* mac mode for uniphy instance2*/

				qcom,port_phyinfo {
					port@2 {
						port_id = <3>;
						forced-speed = <2500>;
						forced-duplex = <1>;
						port_mac_sel = "QGMAC_PORT";
						switch_external {
							switch_handle = <&switch1>;
							switch_cpu_port = <0>;
						};
					};
				};
			};

			switch1: ess-switch1@1 {
#ifdef __CONFIG_IO_COHERENCY__
				dma-coherent;
#endif
				compatible = "qcom,ess-switch-qca8386";
				device_id = <1>;
				switch_access_mode = "mdio";
				mdio-bus = <&mdio>;
				switch_mac_mode = <0xc>; /* mac mode for uniphy instance0 */
				switch_mac_mode1 = <0xff>; /* mac mode1 for uniphy instance1 */
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x1e>; /* lan port bitmap */
				switch_wan_bmp = <0x0>;  /* wan port bitmap */

				qcom,port_phyinfo {
					port@0 {
						port_id = <0>;
						forced-speed = <2500>;
						forced-duplex = <1>;
					};
					port@1 {
						port_id = <1>;
						phy_address = <1>;
					};
					port@2 {
						port_id = <2>;
						phy_address = <2>;
					};
					port@3 {
						port_id = <3>;
						phy_address = <3>;
					};
					port@4 {
						port_id = <4>;
						phy_address = <4>;
					};
				};

				qcom,port_ledinfo {
					port@0 {
						port = <1>;
						led_source@2 {
							source = <2>;
							mode = "normal";
							speed = "all";
							blink_en = "enable";
							active = "high";
						};
					};
					port@1 {
						port = <2>;
						led_source@2 {
							source = <2>;
							mode = "normal";
							speed = "all";
							blink_en = "enable";
							active = "high";
						};
					};
					port@2 {
						port = <3>;
						led_source@2 {
							source = <2>;
							mode = "normal";
							speed = "all";
							blink_en = "enable";
							active = "high";
						};
					};
					port@3 {
						port = <4>;
							led_source@2 {
							source = <2>;
							mode = "normal";
							speed = "all";
							blink_en = "enable";
							active = "high";
						};
					};
				};
			};
		};

		apc_rail: apc-gpio-regulator {
			pinctrl-0 = <&regulator_gpio>;
			pinctrl-names = "default";
			compatible = "regulator-gpio";
			regulator-name = "vdd-apc";
			regulator-type = "voltage";
			regulator-boot-on;
			regulator-always-on;
			regulator-min-microvolt = <850000>;
			regulator-max-microvolt = <1000000>;
			regulator-ramp-delay = <250>; /* 20ms */
			gpios = <&tlmm 17 GPIO_ACTIVE_HIGH>;
			gpios-states = <0x1>;
			states = <850000 0>, <1000000 1>;
		};
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

&xo {
	clock-frequency = <24000000>;
};

&license_manager {
	status = "okay";
};

&qmp_tmel {
	status = "okay";
};

&tmelcom {
	status = "okay";
};

&q6v5_wcss {
	pinctrl-0 = <&wsi_default_state>;
	pinctrl-names = "default";
};

&tlmm {
	gpio_keys_default: gpio-keys-default-state {
		pins = "gpio19";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	mdio_mst_pins: mdio0-state {
		mux_0 {
			pins = "gpio22";
			function = "mdc_mst";
			drive-strength = <8>;
			bias-pull-up;
		};

		mux_1 {
			pins = "gpio23";
			function = "mdio_mst";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	mdio_slv_pins: mdio1-state {
		mux_0 {
			pins = "gpio20";
			function = "mdc_slv";
			drive-strength = <8>;
			bias-disable;
		};

		mux_1 {
			pins = "gpio21";
			function = "mdio_slv";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	wsi_default_state: wsi-default-state {
		wsi0 {
			pins = "gpio24";
			function = "wsi_clk";
			drive-strength = <8>;
			bias-pull-down;
		};

		wsi1 {
			pins = "gpio26";
			function = "wsi_data";
			drive-strength = <8>;
			bias-pull-down;
		};

		wsi2 {
			pins = "gpio27";
			function = "wsi_clk";
			drive-strength = <8>;
			bias-pull-down;
		};

		wsi3 {
			pins = "gpio29";
			function = "wsi_data";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	regulator_gpio: regulator-gpio {
		pins = "gpio17";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};
};

&CPU0 {
	cpu-supply = <&apc_rail>;
};

&CPU1 {
	cpu-supply = <&apc_rail>;
};

&CPU2 {
	cpu-supply = <&apc_rail>;
};

&CPU3 {
	cpu-supply = <&apc_rail>;
};
