/* Copyright (c) 2015, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 */
#include "qcom-ipq4019.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/soc/qcom,tcsr.h>

/ {
	model = "Cambridge Industries Group, Ltd. WF-610D";
	compatible = "cig,wf610d", "qcom,ipq4019";
	qcom,board-id = <8 0>;
	qcom,msm-id = <0x111 0>;
	qcom,pmic-id = <0 0 0 0>;

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256MB */
	};

	chosen {
		bootargs-append = " clk_ignore_unused";
	};

	soc {
		pinctrl@1000000 {
			serial_0_pins: serial0_pinmux {
				mux {
					pins = "gpio16", "gpio17";
					function = "blsp_uart0";
					bias-disable;
				};
			};
	
			serial_1_pins: serial1_pinmux {
				mux {
					pins = "gpio8", "gpio9";
					function = "blsp_uart1";
					bias-disable;
				};
			};

			nand_pins: nand_pins {

				pullups {
					pins = "gpio53", "gpio58",
						"gpio59";
					function = "qpic";
					bias-pull-up;
				};

				pulldowns {
					pins = "gpio54", "gpio55", "gpio56",
						"gpio57", "gpio60", "gpio61",
						"gpio62", "gpio63", "gpio64",
						"gpio65", "gpio66", "gpio67",
						"gpio68", "gpio69";
					function = "qpic";
					bias-pull-down;
				};
			};
			led_0_pins: led0_pinmux {
				mux {
					pins = "gpio52", "gpio42", "gpio43", "gpio45", "gpio46", "gpio47", "gpio48", "gpio40", "gpio39", "gpio49";
					function = "gpio";
					drive-strength = <16>;
					bias-pull-down;
					output-low;
				};
			};

			spi_0_pins: spi_0_pinmux {
				pinmux {
					function = "blsp_spi0";
					pins = "gpio13", "gpio14", "gpio15";
				};
				pinmux_cs {
					function = "gpio";
					pins = "gpio12";
				};
				pinconf {
					pins = "gpio13", "gpio14", "gpio15";
					drive-strength = <12>;
					bias-disable;
				};
				pinconf_cs {
					pins = "gpio12";
					drive-strength = <2>;
					bias-disable;
					output-high;
				};
			};

			i2c_0_pins: i2c_0_pinmux {
				pinmux {
					function = "blsp_i2c0";
					pins = "gpio10", "gpio11";
				};
				pinconf {
					pins = "gpio10", "gpio11";
					drive-strength = <16>;
					bias-disable;
				};
			};
			mdio_pins: mdio_pinmux {
				mux_1 {
					pins = "gpio6";
					function = "mdio";
					bias-pull-up;
				};
				mux_2 {
					pins = "gpio7";
					function = "mdc";
					bias-pull-up;
				};
			};

		};

		serial@78af000 {
			pinctrl-0 = <&serial_0_pins>;
			pinctrl-names = "default";
			status = "okay";
		};
	
		serial@78b0000 {
			pinctrl-0 = <&serial_1_pins>;
			pinctrl-names = "default";
			status = "okay";
		};

		blsp_dma: dma@7884000 {
			status = "okay";
		};

		spi_0: spi@78b5000 { 
			pinctrl-0 = <&spi_0_pins>;
			pinctrl-names = "default";
			status = "okay";
			cs-gpios = <&tlmm 12 GPIO_ACTIVE_HIGH>;

			m25p80@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				compatible = "jedec,spi-nor";
				linux,modalias = "m25p80", "n25q128a11";
				spi-max-frequency = <24000000>;
				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
	
					SBL1@0 {
						label = "0:SBL1";
						reg = <0x0 0x40000>;
						read-only;
					};
		
					MIBIB@40000 {
						label = "0:MIBIB";
						reg = <0x40000 0x20000>;
						read-only;
					};
		
					QSEE@60000 {
						label = "0:QSEE";
						reg = <0x60000 0x60000>;
						read-only;
					};
		
					CDT@c0000 {
						label = "0:CDT";
						reg = <0xc0000 0x10000>;
						read-only;
					};
		
					DDRPARAMS@d0000 {
						label = "0:DDRPARAMS";
						reg = <0xd0000 0x10000>;
						read-only;
					};
		
					APPSBLENV@e0000 {
						label = "0:APPSBLENV";
						reg = <0xe0000 0x10000>;
						read-only;
					};
		
					APPSBL@f0000 {
						label = "0:APPSBL";
						reg = <0xf0000 0x80000>;
						read-only;
					};
		
					ART@170000 {
						label = "0:ART";
						reg = <0x170000 0x10000>;
						read-only;
					};
	
					firmware@180000 {
						compatible = "denx,fit";
						label = "firmware";
						reg = <0x180000 0x1e70000>;
					};

					certificates@1ff0000 {
						compatible = "denx,fit";
						label = "certificates";
						reg = <0x1ff0000 0x10000>;
					};
				};
			};
		};

		i2c_0: i2c@78b7000 { /* BLSP1 QUP2 */
			pinctrl-0 = <&i2c_0_pins>;
			pinctrl-1 = <&i2c_0_pins>;
			pinctrl-names = "i2c_active", "i2c_sleep";
			status = "okay";

			qca_codec: qca_codec@12 {
				compatible = "qca,ipq40xx-codec";
				reg = <0x12>;
				status = "disabled";
			};

			lcd_ts: lcd_ts@40 {
				compatible = "qca,gsl1680_ts";
				reg = <0x40>;
				status = "disabled";
			};
		};



		cryptobam: dma@8e04000 {
			status = "okay";
		};

		crypto@8e3a000 {
			status = "okay";
		};

		gpio_keys {
			compatible = "gpio-keys";
	
			reset {
				label = "reset";
				linux,code = <KEY_RESTART>;
				gpios = <&tlmm 50 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
			};
		};

		gpio-leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&led_0_pins>;

			wf6203_green_power {
					gpios = <&tlmm 52 0>;
					label = "wf6203:green:power";
					default-state = "off";
			};
			wf6203_yellow_eth0 {
					gpios = <&tlmm 42 0>;
					label = "wf6203:yellow:eth0";
					default-state = "off";
			};
			wf6203_green_eth0 {
					gpios = <&tlmm 43 GPIO_ACTIVE_LOW>;
					label = "wf6203:green:eth0";
					default-state = "off";
			};
			wf6203_yellow_eth1 {
					gpios = <&tlmm 45 0>;
					label = "wf6203:yellow:eth1";
					default-state = "off";
			};
			wf6203_green_eth1 {
					gpios = <&tlmm 46 GPIO_ACTIVE_LOW>;
					label = "wf6203:green:eth1";
					default-state = "off";
			};
			wf6203_yellow_eth2 {
					gpios = <&tlmm 47 0>;
					label = "wf6203:yellow:eth2";
					default-state = "off";
			};
			wf6203_green_eth2 {
					gpios = <&tlmm 48 GPIO_ACTIVE_LOW>;
					label = "wf6203:green:eth2";
					default-state = "off";
			};																
			wf6203_green_wifi2g {
					gpios = <&tlmm 40 0>;
					label = "wf6203:green:wifi2g";
					default-state = "off";
			};
			wf6203_green_wifi5g {
					gpios = <&tlmm 39 0>;
					label = "wf6203:green:wifi5g";
					default-state = "off";
			};				
			wf6203_green_status {
					gpios = <&tlmm 49 0>;
					label = "wf6203:green:status";
					default-state = "off";
			};								
		};


		watchdog@b017000 {
			timeout-sec = <60>;
			status = "okay";
		};

		qpic_bam: dma@7984000 {
			status = "okay";
		};

		nand: qpic-nand@79b0000 {
			pinctrl-0 = <&nand_pins>;
			pinctrl-names = "default";
			status = "okay";
		};

		mdio@90000 {
			pinctrl-0 = <&mdio_pins>;
			pinctrl-names = "default";
			phy-reset-gpio = <&tlmm 18 0>;
			status = "okay";
			bias-disable;
		};

		ess-switch@c000000 {
			switch_lan_bmp = <0x3e>; /* lan port bitmap */
			switch_wan_bmp = <1>; /* wan port bitmap */
			status = "okay";
		};

		ess-psgmii@98000 {
			status = "okay";
		};

		edma@c080000 {
			status = "okay";
		};

		usb3_ss_phy: ssphy@9a000 {
			status = "okay";
		};

		usb3_hs_phy: hsphy@a6000 {
			status = "okay";
		};

		usb3: usb3@8af8800 {
			status = "okay";
		};

		usb2_hs_phy: hsphy@a8000 {
			status = "okay";
		};

		usb2: usb2@60f8800 {
			status = "okay";
		};

		ext_wtd {
			compatible = "linux,wdt-gpio";
			gpios = <&tlmm 41 GPIO_ACTIVE_LOW>;
			hw_algo = "toggle";
			hw_margin_ms = <1000>;
			always-running;
		};

		tcsr@1949000 {
			compatible = "qcom,tcsr";
			reg = <0x1949000 0x100>;
			qcom,wifi_glb_cfg = <TCSR_WIFI_GLB_CFG>;
		};

		tcsr@1957000 {
			compatible = "qcom,tcsr";
			reg = <0x1957000 0x100>;
			qcom,wifi_noc_memtype_m0_m2 = <TCSR_WIFI_NOC_MEMTYPE_M0_M2>;
		};

		wifi0: wifi@a000000 {
			qcom,ath10k-calibration-variant = "CIG WF_610D";
			status = "okay";
		};
	
		wifi1: wifi@a800000 {
			qcom,ath10k-calibration-variant = "CIG WF_610D";
			status = "okay";
		};
	};

};
