# SPDX-License-Identifier: GPL-2.0-only
#
# Copyright (c) 2023 Realtek Semiconductor Corp. All rights reserved.
#

config RTK_MSSDK_PHY
	tristate "Realtek MSSDK PHYs"
	help
	  Currently supports the RTL8261N,RTL8264B,RTL8251B PHYs.

