config ble_chip 'eap115'
	option enabled '1'
	option vendor 'nordic'
	option model 'NRF54l15'
	option firmware '/etc/ble_fw/nordic/zephyr_hci_uart_291.signed.bin'
	option fw_loaded ''
	option tty '/dev/ttyS2'
	option baudrate '115200'
	option resetpin '542'
	option backdoorpin '541'
	option wdt_enabled '0'
