# SPDX-License-Identifier: GPL-2.0-only
#
# QCOM TMELCOM driver

config QCOM_TMELCOM
	tristate "QCOM TME-LCom driver"
	help
        Set to enable TME-LCom interface over QTI Mailbox
        Protocol (QMP) for IPC communication with TME-L.
