config LIBEVX_USE_CARES
    bool "Asnychronous DNS resolution support"
    default n
    help
        Enable support for asynchronous DNS resolution.

        This requires libcares to be present on the platform.

