mainmenu "Plume Configuration"

config USE_KCONFIG
    bool "Enable KConfig configuration"

if USE_KCONFIG
    config TARGET_NAME
        string "Device Descriptive Name"

    config TARGET_MODEL
        string "Device Model Name"

    menu "OpenSync"
        menu "Networking"
            orsource "../src/lib/osn/kconfig/Kconfig"
        endmenu
    endmenu

    menu "PML Configuration"
        menuconfig PML_TARGET
            bool "Use generic TARGET (kconfig based target configuration)"

            if PML_TARGET
                orsource "../src/lib/target/kconfig/Kconfig"
            endif

        menu "INET Configuration"
            orsource "../src/lib/inet/kconfig/Kconfig"
        endmenu

        if TARGET_MANAGER_CM
            menu "CM2 Configuration"
                orsource "../src/cm2/kconfig/Kconfig"
            endmenu
        endif

        menu "libevx Configuration"
            orsource "../src/lib/evx/kconfig/Kconfig"
        endmenu
    endmenu

    menu "Platform Configuration"
        orsource "Kconfig.platform"
        osource "../platform/*/kconfig/Kconfig.platform"
    endmenu

    menu "Vendor Configuration"
        choice VENDOR
            prompt "Vendor Selection"
            orsource "Kconfig.vendor"
            orsource "../vendor/*/kconfig/Kconfig.vendor"
        endchoice
        orsource "../vendor/*/kconfig/Kconfig"
    endmenu
endif
