// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5332 AP-MI01.2 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;


#ifdef __IPQ_MEM_PROFILE_512_MB__
#include "ipq5332-512MB-memory.dtsi"
#else
#include "ipq5332-default-memory.dtsi"
#endif

#include "ipq5332-sercomm-mi01.2.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Sercomm WiFi-7";
	compatible = "sercomm,ap72tip", "qcom,ipq5332";
	interrupt-parent = <&intc>;

	aliases {
		led-boot = &led_power;
		led-failsafe = &led_power;
		led-running = &led_power;
		led-upgrade = &led_power;
	};

	soc {
		phy@4b0000 {
			status = "disabled";
		};


		pcie@20000000 {
			status = "disabled";
			pcie0_rp {
				reg = <0 0 0 0 0>;
				qcom,mhi@2 {
					reg = <0 0 0 0 0>;
					qti,disable-rddm-prealloc;
					qti,rddm-seg-len = <0x1000>;
#if defined(__CNSS2__)
					qrtr_node_id = <0x30>;
					memory-region = <0>, <&mhi_region0>;
#else
					memory-region = <&qcn9224_pcie0>;
					qcom,board_id = <0x15>;
					qcom,wsi = <&wsi>;
#endif
				};
			};
		};

		pinctrl@1000000 {
			button_pins: button_pins {
				rst_button {
					pins = "gpio1";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-up;
				};
			};
		};

		gpio_keys {
			compatible = "gpio-keys";
			pinctrl-0 = <&button_pins>;
			pinctrl-names = "default";
			button@1 {
				label = "rst";
				linux,code = <KEY_RESTART>;
				gpios = <&tlmm 1 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
				debounce-interval = <60>;
			};
		};

		leds {
			compatible = "gpio-leds";

			led@25 {
				label = "blue:status";
				gpios = <&tca6416 9 GPIO_ACTIVE_HIGH>;
				default-state = "off";
			};
			led@24 {
				label = "red:status";
				gpios = <&tca6416 10 GPIO_ACTIVE_HIGH>;
			};
			led_power: led@16 {
				label = "green:status";
				gpios = <&tca6416 11 GPIO_ACTIVE_HIGH>;
			};
			led@61 {
				label = "green:phy";
				gpios = <&tca6416 13 GPIO_ACTIVE_HIGH>;
			};
			led@62 {
				label = "yellow:phy";
				gpios = <&tca6416 14 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};

&wifi0 {
	qcom,rproc = <&q6_wcss_pd1>;
	qcom,rproc_rpd = <&q6v5_wcss>;
	qcom,multipd_arch;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd1";
#if defined(__CNSS2__)
	mem-region = <&q6_region>;
#else
	memory-region = <&q6_region>;
	qcom,wsi = <&wsi>;
#endif
	qcom,board_id = <0x16>; //orig:0x12->0x16
	status = "ok";
};

&qcn9224_pcie0 {
	status = "disabled";
};

&qcn9224_pcie1 {
	status = "ok";
};

&mhi_region0 {
	status = "disabled";
};

&mhi_region1 {
	status = "ok";
};

&wifi1 {
	/* QCN9224 radio 5G */
	hremote_node = <&qcn9224_pcie0>;
	board_id = <0x15>;
	status = "disabled";
};

&wifi2 {
	/* QCN9224 5G+6G */
	hremote_node = <&qcn9224_pcie1>;
	qcom,board_id = <0x100f>; //0x16->0x1019
	status = "ok";
};

&i2c_0 {
	tca6416: gpio@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
