// SPDX-License-Identifier: (GPL-2.0 OR MIT)

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/soc/spi@11007800";
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_flash_pins>;
			status = "okay";

			flash@0 {
				compatible = "spi-nand";
				reg = <0>;
				spi-max-frequency = <52000000>;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
				mediatek,nmbm;
				mediatek,bmt-max-ratio = <1>;
				mediatek,bmt-max-reserved-blocks = <64>;

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;

					partition@0 {
						label = "BL2";
						reg = <0x00000 0x0100000>;
						read-only;
					};

					partition@100000 {
						label = "u-boot-env";
						reg = <0x0100000 0x0040000>;
					};

					partition@140000 {
						label = "priv_data1";
						reg = <0x140000 0x0020000>;
					};

					partition@160000 {
						label = "priv_data2";
						reg = <0x160000 0x0020000>;
					};

					factory: partition@180000 {
						label = "Factory";
						reg = <0x180000 0x0400000>;

						nvmem-layout {
							compatible = "fixed-layout";
							#address-cells = <1>;
							#size-cells = <1>;

							macaddr_wan: macaddr@ffffa {
								reg = <0xffffa 0x6>;
							};

							macaddr_lan: macaddr@ffff4 {
								reg = <0xffff4 0x6>;
							};
						};
					};

					partition@580000 {
						label = "FIP";
						reg = <0x580000 0x0200000>;
					};

					partition@780000 {
						label = "rootfs1";
						reg = <0x780000 0x3840000>;
					};

					partition@3fc0000 {
						label = "rootfs2";
						reg = <0x3fc0000 0x3840000>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&slot0>;
		__overlay__ {
			mt7996@0,0 {
				compatible = "mediatek,mt76";
				reg = <0x0000 0 0 0 0>;
				device_type = "pci";
				bin_file_name = "mediatek/mt7996/edgecore_eap115_eeprom.bin";
			};
		};
	};

	fragment@2 {
		target = <&gmac0>;
		__overlay__ {
			nvmem-cell-names = "mac-address";
			nvmem-cells = <&macaddr_lan>;
		};
	};

	fragment@3 {
		target = <&gmac1>;
		__overlay__ {
			nvmem-cell-names = "mac-address";
			nvmem-cells = <&macaddr_wan>;
		};
	};
};
