config ble_chip 'eap112'
	option enabled '1'
	option vendor 'ti'
	option model 'CC2652R1'
	option firmware '/etc/ble_fw/ti/ble5_multi_role_sdk8_33_bd9.bin'
	option fw_loaded ''
	option tty '/dev/ttyS1'
	option baudrate '115200'
	option resetpin '520'
	option backdoorpin '524'
	option wdt_enabled '0'
	option sw_rstpin '525'

config ble_chip 'eap111'
	option enabled '1'
	option vendor 'ti'
	option model 'CC2652R1'
	option firmware '/etc/ble_fw/ti/ble5_multi_role_sdk8_33_bd9.bin'
	option fw_loaded ''
	option tty '/dev/ttyS1'
	option baudrate '115200'
	option resetpin '520'
	option backdoorpin '524'
	option wdt_enabled '0'
	option sw_rstpin '525'
