config mcu 'uart_no_hw_flow'
	option interface	'uart'
	option bootloader	'mcuboot'
	option enable_pin	'mcu-enable'
	option uart_path	'/dev/ttyMSM1'
	option uart_baud	'115200'
	option firmware		'zephyr-main__hello_world'
	option disabled		'1'

config mcu 'uart_with_hw_flow'
	option interface	'uart'
	option bootloader	'mcuboot'
	option enable_pin	'mcu-enable'
	option uart_path	'/dev/ttyMSM1'
	option uart_baud	'1000000'
	option uart_flow	'1'
	option firmware		'zephyr-main__hello_world'
	option disabled		'1'

config mcu 'usb_with_enable_pin'
	option interface	'usb'
	option bootloader	'mcuboot'
	option enable_pin	'mcu-enable'
	option firmware		'zephyr-main__hello_world'
	option disabled		'1'

config mcu 'usb_no_enable_pin'
	option interface	'usb'
	option bootloader	'mcuboot'
	option sn		'ABCDEF1234567890'
	option firmware		'zephyr-main__hello_world'
	option disabled		'1'
